body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

label {
    margin-right: 70px;
    margin-top: 20px;
    font-size: 20px;
}

input[type="radio"] {
    margin-left: 10px;
    padding-bottom: 50px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #006B9F;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li {
    background: #dadada;
}
